/*Mudando algumas configurações que podem dar conflito*/
* {
	margin: 0; /* Margem */
	padding: 0; /* Preenchimento */
	box-sizing: border-box; /* Alteração da propriedade padrão da box model, nessa a largura e altura incluem o padding, mas não a margem */
	text-decoration: none; /* Sem decoração no texto */
	text-align: center; /* Texto no centro */
}

#logo {
  height: 50px; /* Altura da logo */
  float:right; /* Posição da logo */
}

#carteira_imagem {
  height: 100px; /* Altura da imagem */
}

/* Estilizando o cabeçalho */
ul {
  list-style-type: none; /* Estilização da lista */
  overflow: hidden; /* Formatação da lista */
}

#cabecalho1 { /* Cria o cabeçalho da Carteira 1 */
  background-color: #096E80; /* Cor do plano de fundo do cabeçalho */
}
#cabecalho2 { /* Cria o cabeçalho da Carteira 2 */
  background-color: #348037; /* Cor do plano de fundo do cabeçalho */
}
#cabecalho3 { /* Cria o cabeçalho da Carteira 3 */
  background-color: #803336; /* Cor do plano de fundo do cabeçalho */
}

li { 
   float: left; /* Posição do li */
}

li a {
  display: block; /* Cria um bloco para cada item */
  color: white; /* Cor da letra */
  padding: 14px 16px; /* Tmanho do padding */
}

/* Estilização para mudar de cor quando o cursor passar por cima dos itens do cabeçalho */
.carteira_cabecalho1:hover {
  background-color: #0A8399; /* Cor da Carteira 1 */
}
.carteira_cabecalho2:hover {
  background-color: #62CC6C; /* Cor da Carteira 2 */
}
.carteira_cabecalho3:hover {
  background-color: #CC5256; /* Cor da Carteira 3 */
}

/* Estilização para a cor da Carteira em vizualização estar destacada */
.ativo1 {
  background-color: #0A8399; /* Cor do plano de fundo destacado da Carteira 1 */
}
.ativo2 {
  background-color: #62CC6C; /* Cor do plano de fundo destacado da Carteira 2 */
}
.ativo3 {
  background-color: #CC5256; /* Cor do plano de fundo destacado da Carteira 3 */
}

/* Estilizando o título das Carteiras */
h1{
  font-size: 50px; /* Tamanho da fonte */
  padding-top: 50px; /* Tamanho da parte de cima do padding */
  padding-bottom: 20px; /* Tamanho da parte de baixo do padding */
}
#titulo1 {
  color: #096E80; /* Cor do título da Carteira 1 */
}
#titulo2 {
  color: #348037; /* Cor do título da Carteira 2 */
}
#titulo3 {
  color: #803336; /* Cor do título da Carteira 3 */
}

/* Cor do plano de fundo */
#fundo1{
  background-color: #E0F4E5;
}
#fundo2{
  background-color: #E7F5DD;
}
#fundo3{
  background-color: #FFF1EF;
}

.tables {
  display: flex; /* Tipo do display */
  flex-direction: row; /* Direção do display */
  justify-content: space-around;
}

.tabelas {
  margin-top: 5%; /* Tamanho da parte de cima da margem */
  display: flex; /* Tipo do display */
  flex-direction: column; /* Direção do display */
  weight: 100px /* Largura das tabelas */
}

div{
  padding: 20px; /* Tamanho do padding/ */
}

/* Estilizando os subtítulos das Carteiras */
h2{
  font-size: 32px; /* Tamanho da fonte */
  margin-bottom: 40px; /* Tamanho da parte de baixo da margem */
}
.subtitulo1{
	color: #096E80 /* Cor dos subtítulos da Carteira 1 */
}
.subtitulo2{
	color: #348037 /* Cor dos subtítulos da Carteira 2 */
}
.subtitulo3{
	color: #803336 /* Cor dos subtítulos da Carteira 3 */
}

/* Estilizando as tabelas das Carteiras */
table{
	margin-left:auto; /* Margem da esquerda automática */
	margin-right:auto; /* Margem da direita automática */
}
.borda1{
	border: 1px solid #096E80; /* Cor da borda da Carteira 1 */
}
.borda2{
	border: 1px solid #348037; /* Cor da borda da Carteira 2 */
}
.borda3{
	border: 1px solid #803336; /* Cor da borda da Carteira 3 */
}

/* Estilizando os cabeçalhos das tabelas das Carteiras */
th{
  height: 40px; /* Tamanho da altura */
  width: 200px; /* Tamanho da largura */
  vertical-align: center; /* Alinhamento vertical do texto */
  color: white; /* Cor do texto */
}
.cabecalhotabela1{
	background-color: #096E80; /* Cor do plano de fundo da Carteira 1 */
}
.cabecalhotabela2{
	background-color: #348037; /* Cor do plano de fundo da Carteira 2 */
}
.cabecalhotabela3{
	background-color: #803336; /* Cor do plano de fundo da Carteira 3 */
}

td{
  height: 30px; /* Tamanho da altura */
  width: 150px; /* Tamanho da largura */
  vertical-align: center; /* Alinhamento vertical do texto */
  background-color: white /* Cor do texto */
}

/* Estilização para as palavras mudarem de cor quando o cursor passar por cima das linhas das tabelas */
.destaquetabela1:hover {
  color: #A0B4A5; /* Cor das palavras destacadas da Carteira 1 */
}
.destaquetabela2:hover {
  color: #A5DDA8; /* Cor das palavras destacadas da Carteira 2 */
}
.destaquetabela3:hover {
  color: #F5B3B3; /* Cor das palavras destacadas da Carteira 3 */
}

/* Estilização do rodapé */
footer{
  padding: 15px; /* Tamanho do padding */
  height: 50px; /* Tamanho da altura */
  box-sizing: border-box; /* Alteração da propriedade padrão da box model, nessa a largura e altura incluem o padding, mas não a margem */
  font-size: 25px; q* Tamnho da fonte */
}
#rodape1{
  background-color: #096E80; /* Cor do plano de fundo da carteira 1 */
  color: #D0E4D5; /* Cor do texto da carteira 1 */
}
#rodape2{
  background-color: #348037; /* Cor do plano de fundo da carteira 2 */
  color: #D4FCC5; /* Cor do texto da carteira 2 */
}
#rodape3{
  background-color: #803336; /* Cor do plano de fundo da carteira 3 */
  color: #FFF1EF; /* Cor do texto da carteira 3 */
}
